/* inter-font */
.open-sans-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* raleway-font */
.open-sans-raleway{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary1 {
    background-color: #4E47FF;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    border: none;
}
/* header section */
.header {
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
   max-width: 100%;
   padding: 0px 0px 0px 0px;
   /* max-height: 698px; */
   margin-bottom: 116px;
}
.h-text-decoration{
  font-size: 34px;
  font-weight: 900;
  color: #4E47FF;
}
.navbar-section{
  display: flex;
  justify-content: space-between;
  padding: 150px;
  align-items: center;
  margin-bottom: 100px;
  width: 1140px;
  height: 151px;
  margin: auto;
}
.banner-content{
  padding: 267.5px;
  align-items: center; 
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 905px;
  margin: auto;
  

}
.banner-title{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  align-items: center;
  /* justify-content: center; */
  width: 905px;
  height: 152px;
}
.highlight-text {
  display: inline-block; 
}
.btn-primary2 {
  margin-top: 37px;
  margin-bottom: 152px;
    background-color: #4E47FF;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 174px;
    height: 48px;
    border: none;
    align-items: center;  
}
/* main */
/* section-action */

 .action {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 1440px;
  margin: auto;
  padding: 40px 0; 
}

.action-message {
  max-width: 517px;
}

.section1-title {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 10px;
}

.section1-details {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.btn-primary3 {
  margin-top: 23px;
  background-color: #4E47FF;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 229px;
  height: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-img {
  flex-shrink: 0; 
}

.wc-mini {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

/* productive-user */
.productive-user{
  background-color: rgba(10, 71, 255, 10%);
  border-radius: 24px;
  width: 1140px;
  height: 306px;
  padding-left: 141px;
  padding-right: 159px;
  margin-bottom: 137px;
  padding-top: 10px;
  margin: auto;

}
.user-description{
  /* width: 856px;
  height: 206px; */
}
.user-title{
  padding-top: 50px;
  font-size: 38px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  margin: auto;
}
.title-class{
  display: flex;
  align-items: center;
  margin: auto;
}
.number{
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.user-number-style {
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
}
.user-number-description{
  margin-top: -80px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 50%);
}
.user-comment{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 1440px;
  margin: auto;
  padding: 40px 0; 
}
.comment1{
  background-color: white;
  border-radius: 16px;
  box-shadow: 5px 5px rgba(0, 0, 0, 5%);
  width: 450px;
  padding: 10px;
}
.focus{
  background-color: white;
   align-items: center; 
  width: 1440px;
  margin: auto;
  padding: 40px 0;
  border-radius: 14px;
}
.form{
  display: flex;
   width: 1440px;
  margin: auto;
  padding: 40px 0;
  border-radius: 14px;
  justify-content: space-between;
  align-items: center;
}
.form-input{
  width: 550px;

}
.btn-primary4 {
  margin-top: 23px;
  background-color: #4E47FF;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 510px;
  height: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  display: flex;
  flex-direction: column;
   width: 1440px;
  margin: auto;
  border-radius: 14px;
  justify-content: space-between;
  align-items: center;
}